.search-outer-wrapper{
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.search-wrapper{
  padding-top: 50px;
  margin-left: 12%;
  width: calc(100% - 12%);
  height: calc(100% - 118px);
  top: 68px;
  overflow-y: scroll;
  position: absolute;
}

.search-header{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  width: 70%;
}