.nav_bar_side {
  display: flex;
  align-content: space-between;
}

.modal-background {
  position: fixed;
  top: 56px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.modal-child {
  top: 0;
  // z-index: 5;
  transform: translate(0px, -56px);
  width: 240px;
  height: 120%;
  background-color: #282828;
}

.close-hamburger {
  padding-top: 20px;
  padding-left: 20px;
  color: white;
  background-color: #282828;
  border: 2px solid #282828;
}

.nav-viewtube {
  transform: translate(105px, -54px);
  font-family: Impact, 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  width: 10px;
}

.viewtube-icon {
  color: #3EA6FF;
  transform: translate(65px, -32px);
}

.side-link:hover, .side-link:visited, .side-link:active, .side-link:link, .side-link:focus{
  color: white;
  text-decoration: none;
}

.side-a:hover, .side-a:visited, .side-a:active, .side-a:link, .side-a:focus{
  color: white;
  text-decoration: none;
}

.side-link-wrapper {
  height: 40px;
}

.side-link-wrapper:hover {
  height: 40px;
  background-color: #AAAAAA;
}

.side-icon-text {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding-top: 10px;
}

.side-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: auto;
  text-align: center;
}

.side-title {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;
  padding-left: 20px;
}