.top-nav {
  background-color: #282828;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.open-hamburger {
  padding-top: 20px;
  padding-left: 20px;
  color: white;
  background-color: #282828;
  border: 2px solid #282828;
}