.top-nav {
  background-color: #232323;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  padding-top: 10px;
  padding-left: 20px;
  color: white;
  background-color: #232323;
  border: 2px solid #232323;
}