.index-item-wrapper{
  margin: 10px;
  width: 210px;
  height: 162px;
}

.video-description {
  width: 210px;

}

.index-item-title {
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  width: 100%;
}

.index-item-author{
  color: #AAAAAA;
  font-size: 13px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  width: 100%;
}