.vid-show {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.vid-show-wrapper {
  background-color: #191919;
  z-index: -10;
  // position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.vid-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  background-color: black;
  // margin: auto;
}

.vid-wrapper video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vid-info {
  width: 90%;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 5%;
}

.vid-title{
  font-size: 26px;
}

.vid-published {
  margin-top: 10px;
  color: #AAAAAA;
  font-size: 12px;
}

.vid-username {
  font-size: 14px;
  padding-right: 40px;
}

.vid-description {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
  font-size: 12px;
}

// .vid-index-wrapper {
//   width: 300px;
//   height: 1000px;
//   float: right;
//   background-color: lightgrey;
// }

.show-left {
  background-color: red;
  width: 100%;
  // height: 100%;
}

.outer-vid-wrapper {
  // display: flex;
  // justify-content: space-between;
  width: 90%;
  background-color: green;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 5%;
}

.show-right {
  background-color: blue;
  width: 40%;
  // height: 4000px;
  // float: right;
}