.vid-show {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 20px;
}

.vid-show-wrapper {
  background-color: #191919;
  z-index: -10;
  // position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.vid-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  background-color: black;
  // margin: auto;
}

.vid-wrapper video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vid-info {
  width: 90%;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 10%;
}

.vid-title{
  font-size: 18px;
}

.vid-published {
  margin-top: 10px;
  color: #AAAAAA;
  font-size: 12px;
}

.vid-username {
  font-size: 14px;
}

.video-author {
  margin-left: 10px;
}

.delete-button, .edit-button {
  color: black;
  background-color: #3EA6FF;
  border: none;
  padding: 10px;
  font-family: sans-serif, Arial;
}

.edit-link:visited, .edit-link:hover, .edit-link:active, .edit-link:link, .edit-link {
  color: black;
  font-family: sans-serif, Arial;

  text-decoration: none;
}

.delete-wrapper, .edit-wrapper {
  float: right;
}

#username-check{
  padding-left: 5px;
  color: grey;
}

.vid-description {
  margin-top: 15px;
  font-size: 12px;
}

.show-left {
  width: 65%;
}

.outer-vid-wrapper {
  width: 90%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 10%;
}

.show-right {
  width: 35%;
}