.index-item-wrapper{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 0px;
  padding-right: 15px;
  width: 288px;
  height: 200px;
}

.vid-index-item-link {
  text-decoration: none;
  display: flex;
}

.vid-index-item-title {
  margin-top: 5px;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, Arial;
  text-decoration: none;
  width: 100%;
}

.vid-index-item-author{
  margin-top: 5px;
  color: #AAAAAA;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, Arial;
  text-decoration: none;
  width: 100%;
}

.vid-index-item-published{
  color: #AAAAAA;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, Arial;
  text-decoration: none;
  width: 100%;
}