.index-item-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 0px;
  padding-right: 0px;
  width: 210px;
  height: 162px;
}

.vid-index-item-link {
  text-decoration: none;
}

.vid-index-item-title {
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, Arial;
  text-decoration: none;
  width: 100%;
}

.vid-index-item-author{
  color: #AAAAAA;
  font-size: 13px;
  font-family: 'Roboto', sans-serif, Arial;
  text-decoration: none;
  width: 100%;
}